* {
    box-sizing: border-box;
  }
  body {
    /* background-color: #1a1a1a; */
    font-family: page-font;
    font-size: 15px;
    color: #ccc;
    /* background-color: slategrey; */
    
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
    
    height: 100%;
    width: 100%;
    margin: 0;
      
  }

/* * * * * * */
/* * Круги * */
/* * * * * * */
.green {
  /* position */
  margin: 0 auto;
  width: 520px;
  height: 520px;
}

.green .progress {
  /* decoration */
  border-radius: 50%;
  border: 20px solid #53fc53;
  box-shadow: 0 15px 0 2px #03bc03;
}

.green .progress .inner {
  /* position */
  position: relative;
  width: 480px;
  height: 480px;
  /* decoration */
  border-radius: 50%;
  border: 20px solid #ffffff;
  -webkit-box-shadow: 0 15px 0 #c2c2c2 inset;
  box-shadow: 0 15px 0 #c2c2c2 inset;
  overflow: hidden;
}

/* * * * * * * * */
/* * Жидкость * */
/* * * * * * * */
.green .progress .inner .water {
  /* position */
  position: relative;
  z-index: 1;
  width: 150%;
  height: 150%;
  left: -25%;
  margin-top: -40%;
  /* decoration */
  border-radius: 40%;
  box-shadow: 0 0 5px #83e083;
  /* animation */
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.green .progress .inner .water {
  top: 100%;
  background-color: #72ff72;
  opacity: 50%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
  